@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<h2>@ViewData["Title"]</h2>
<div class="row bg-light justify-content-center text-center">
    <div class="col-md-12">
        <section>
            <h1 class="text-danger">@ViewData["Title"]</h1>
            <p class="text-danger">You do not have access to this resource.</p>
        </section>
    </div>
</div>