@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>@ViewData["Title"]</h2>
<div class="row bg-light justify-content-center text-center">
    <div class="col-md-12">
        <section>
            <p>
                Ein Link zum Zurücksetzen deines Passworts wurde dir per E-Mail geschickt.
            </p>
        </section>
    </div>
</div>

