@{
    Layout = "/Views/Shared/_LayoutContainer.cshtml";
}
@RenderSection("Header", required: false)
<div>
    <div class="row" id="top-row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
