@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Passwort ändern";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "~/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}

<h4 class="text-uppercase page-header">@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-9">
        @await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])
    </div>
</div>
<div class="row">
    <div class="col-md-9 bg-light">
        <div class="col-md-9">
            <form id="change-password-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <b><label>Passwort</label></b>
                <div class="form-group">
                    <label class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
                        <input type="password" asp-for="Input.OldPassword" class="mdc-text-field__input" aria-labelledby="old-password-id">
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <span class="mdc-floating-label" id="old-password-id">Altes Passwort</span>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </label>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
                        <input type="password" asp-for="Input.NewPassword" class="mdc-text-field__input" aria-labelledby="new-password-id">
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <span class="mdc-floating-label" id="new-password-id">Neues Passwort</span>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </label>
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
                        <input type="password" asp-for="Input.ConfirmPassword" class="mdc-text-field__input" aria-labelledby="confirm-password-id">
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <span class="mdc-floating-label" id="confirm-password-id">Neues Passwort bestätigen</span>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary form-group">Passwort ändern</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            mdc.autoInit();
        });
    </script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}